/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

.page{
  width: 900px;
  margin: 0 auto;
}

.home-button{
  width: 100px;
  height: 100px;
  background-image: linear-gradient(to bottom left, red, yellow);
  box-shadow:20px 20px 10px grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.no_bullet {
list-style-type: none;
}

.menu {
  height: 100px;
  background-color: #B2D6FF;    /* Medium blue */
}

.sidebar {
  float: left;
  /* display: inline-block; */
  width: 200px;
  height: 500px;
  background-color: #F09A9D;    /* Red */
  font-family: 'Nanum Gothic', sans-serif;
}

.content {
  width: 850px;
  height: 500px;
  background-color: #F5CF8E;    /* Yellow */
  font-family: 'Nanum Myeongjo', serif;
}

.footer {
  clear: both;
  /* 전에 나타난 플롯을 무시한다 (기본적인 수직배치로 돌려줌) */
  height: 200px;
  background-color: #D6E9FE;    /* Light blue */
}

.day {
  height: 100px;
  width: 300px;
  background-color: blue;
}

.day1, .day2{
  border: 1px solid red;
}
